<h1>Ferretería El Tornillo - Menú de Login</h1>
<hr>

<h3>Ingresar con GitHub</h3>

<a class="github-button" href="/api/sessions/github">GITHUB</a>

<hr>
<h3>Ingresar con Usuario Local</h3>

<form action="/api/sessions/login" method="POST">


        {{#if error}}
            <div class="error">{{errorDetalle}}</div>
        {{/if}}

        {{#if usuarioCreado}}
            <div class="success">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
        {{/if}}

    {{!-- {{#if logoutExitoso}}
        <div class="mensaje">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
    {{/if}} --}}

    <input type="email" name="email" placeholder="email">   
    <input type="password" name="password" placeholder="password">  
    <input type="submit" value="Login">
</form>

<hr>

<h3>Administrador</h3>

<a class="admin-button" href="/loginAdmin"> Login como Administrador</a>
   <br>
    {{>menu}}






    
