<h2>Login de usuarios: </h2>
<hr>
<a href="/api/sessions/github">Entrar con github</a>

<form action="/api/sessions/login" method="POST">


        {{#if error}}
            <div class="error">{{errorDetalle}}</div>
        {{/if}}

        {{#if usuarioCreado}}
            <div class="success">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
        {{/if}}

    {{!-- {{#if logoutExitoso}}
        <div class="mensaje">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
    {{/if}} --}}

    <input type="email" name="email" placeholder="email">   
    <input type="password" name="password" placeholder="password">  
    <input type="submit" value="Login">
</form>
   <br>
    {{>menu}}